.App{
    text-align: center;
}
#centertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: bold;
    color: green;
    transition: transform 400ms ease-in-out, opacity 600ms ease-out;
}
.scale-text{
    animation: scaleText linear 1s;
}
@keyframes scaleText {
    0%{
        transform: scale(1) rotateY(0deg);
        
        opacity: 1;
    }
    50%{
        transform: scale(1.5) rotateY(360deg);
        opacity: 0.5;
    }
    100%{
        transform: scale(1) rotateY(0deg);
        opacity: 1;
    }
}
#button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    background-color: aqua;
    cursor: pointer;
    align-items: center;
    display: flex;
    transition: box-shadow 600ms ease-in-out,transform 600ms ease-in;
    /* height 600ms ease-in-out, width 600ms ease-in-out; */

}
.minus_button{
    right: 100px !important;
}
#button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    /* height: 80px;
    width: 80px; */
    animation: rotateButton linear 1s 2;
}

@keyframes rotateButton {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



